body {
	
	font-family: sans-serif;
	
}



.exchange {
	text-align: left;
	width: 100%;
	margin-bottom: 5px;
	padding: 10px 20px 10px 20px;
	word-wrap: break-word;
	background: #FCFCFC;
-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
-moz-box-sizing: border-box;    /* Firefox, other Gecko */
box-sizing: border-box;         /* Opera/IE 8+ */
}

.timestamp {
	text-align: right;
	display: block;
	position: absolute;
	right: 4px;
	bottom: 4px;
	font-size: small;
	color: #333;
}

.question, .shortAnswer, .longAnswerIntro, .longAnswerFull {
		position: relative;
	
}
.question:before {
	content: "Du: ";
	font-weight: bold;
	
}

.shortAnswer:before, .longAnswerFull:before, .longAnswerIntro:before {
	content: "Server: ";
	font-weight: bold;
	
}




.question {
	margin-left: 0px;
	margin-right: 20px;
	margin-bottom: 10px;
	background: #CCC;
	padding: 10px;

	
}



.shortAnswer, .longAnswerIntro, .longAnswerFull {
	
	margin-left: 20px;
	margin-right: 0px;

	background: #AAA;	
	padding: 10px 10px 10px 10px;
}

.longAnswerFull {
	margin-top: 5px;
	background: #AAA;	
	padding: 10px 10px 10px 10px;
}


.processing:after {
	content: url("ajax-loader.gif");
}

.sending {
	background: url("ajax-loader-2.gif") no-repeat;
	background-position: 30px 100%;
}

.detail {
	padding: 10px;
	background: white;
	width: 100%;
	min-height: 100%;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
-moz-box-sizing: border-box;    /* Firefox, other Gecko */
box-sizing: border-box;         /* Opera/IE 8+ */

	
}